/* Universal Selector */
* {
  margin:0;
  padding:0;
}

/* Element Selectors */

.fixedheader {
  text-align: center;
  display: inline;
  font-weight: bolder;
}

h1,
h2,
h4 {
  margin: 2em;
}

#work {
  max-width: 100%;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
  width:100%
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: rgb(0, 0, 0);
}

header {
  position: fixed;
  border-bottom: 10px solid #ff00b3;
  justify-content: space-evenly;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

body {
  position: relative;
  font-family: monospace;
  font-size: 1.25rem;
  background-color: black;
  color: #ffffff;
  text-align: center;
}

figure {
  margin-bottom: 40px;
  max-width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*profile picture and caption*/

.avatar {
  max-width: 65%;
  padding:3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.avatar img {
  max-width: 100%;
}

.caption {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 65%;
}

/*video styling*/

.video {
  display:flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}

.video video {
  max-width: 45%;
  border-radius: 2.5rem;
}

/*work elements with thier respective titles*/

img {
  margin: 0.89em auto;
  border-radius: .5em;
  flex-wrap: wrap;
}


.largercard {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.largercard img {
  width: 60%;
}

.smallcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1em;
}

.smallcards img{
  max-width:70%
}

.cards {
  width:40%
}

section {
  margin-bottom: 20px;
  padding: 20px 10px 40px 10px;
  border-top: 3px dashed rgb(119, 0, 255);
  background-color:  black;
}

label {
  display: inline-block;
  width: 100px;
}

input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px dashed rgb(238, 0, 255);
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
/* Text Class Selectors */
.text-center {
  font-family: monospace;
  text-align: center;
  font-style: italic;
  padding-top: 40px;
}

.text-right {
  font-family: monospace;
  text-align: center;
  font-weight: bolder ;
  display: flex;
  justify-content: space-evenly;
}

#canvas {
  padding: 0%;
  margin:0%;
  text-align: center;
}

/*footer element*/

footer {
  position: absolute;
  margin-top: 0;
  margin-bottom: 22rem;
  border-top: 10px solid #1100ff;
  color: #fbff00;
  /* display: flex; */

}

#contactmeheader {
  font-size: 1.5rem;
  color: white;
  /* border: 5px solid #1100ff; */
  padding: 1.5rem;
}
.contactme {
  border: 3px dashed #1100ff;
  text-align:center;
  margin-right:auto;
  margin-left: auto;
  padding: 1rem;
}

@media screen and (max-width:500px) {
  nav ul {
    font-size: 0.75rem;
  }
  footer a {
    width:80%;
  }
} 
